<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_mvc:war exploded">
    <output-path>$PROJECT_DIR$/ssm/spring_mvc/target/spring_mvc</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring_mvc</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_mvc" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/ssm/spring_mvc/target/spring_mvc/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring_mvc/web/Web" />
    </root>
  </artifact>
</component>